@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 antialiased;
    font-family: var(--font-opensans), 'Open Sans', sans-serif;
  }
}

.font-heading {
  font-family: var(--font-fredoka), 'Fredoka', sans-serif;
}

.font-body {
  font-family: var(--font-opensans), 'Open Sans', sans-serif;
}
